.roulette {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.roulette-wheel {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0;
  border: 4px solid black; /* これはデザインを見やすくするためのもので、必要に応じて調整してください */
}

.roulette-item {
  position: absolute;
  width:  100px; /* アイテムのサイズ、必要に応じて調整 */
  left: 50%; /* 中心から左へのオフセット */
  top: 50%; /* 中心から上へのオフセット */
  transform-origin: 0% 0%; /* 変形の原点を左上隅に設定 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.roulette-item-text {
  transform: rotate(180deg); /* テキストを上向きにする */
}

.roulette-pointer {
  position: absolute;
  width: 2px; /* 針の幅 */
  height: 75px; /* 針の高さ */
  background-color: red; /* 針の色 */
  margin-top: -24%;
  left: 50%;
}

.btn-start {
  position: absolute;
  margin-top: 35%;
  left: 45%;
}

.btn-stop {
  position: absolute;
  margin-top: 35%;
  left: 52%;
}